extends ../intercessor-layout

mixin f(id, text)
  .form-group
    label.control-label.col-sm-4(for=id)= text
    .controls.col-sm-8
      .input-group
        input.form-control(id=id, type='text')
        span.input-group-btn
          button.btn.btn-default(type='button')
            span.glyphicon.glyphicon-repeat

mixin resetBtn()
  .form-group
    .controls.col-sm-8.col-sm-offset-4
      button.btn.btn-info.reset(type='button')
        span.glyphicon.glyphicon-repeat
        |  Altă identitate

block content
  .readable
    form.form-horizontal
      +resetBtn()
      +f('prenume', 'Prenume')
      +f('nume', 'Nume')
      +f('sex', 'Sex')
      +f('dataNasterii', 'Data nașterii')
      +f('varsta', 'Vârsta')
      +f('telefon', 'Telefon')
      +f('localitate', 'Localitate')
      +f('judetSector', 'Județ/Sector')
      .form-group
        label.control-label.col-sm-4(for='adresa') Adresa
        .controls.col-sm-8
          .input-group
            textarea.form-control(id='adresa', rows=3)
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-repeat
      .form-group
        label.control-label.col-sm-4(for='avatar') Avatar
        .controls.col-sm-8
          .input-group
            img(id='avatar', src='')
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-repeat
      +resetBtn()

block scripts
  script window.staticPath = !{JSON.stringify(app.paths.static)};
